<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PerformanceTrackerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerformanceTracker"
        tools:targetApi="31">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.UserDashboardActivity" />
        <activity android:name=".ui.OfficerListActivity" />
        <activity android:name=".ui.AdminDashboardActivity" />
        <activity android:name=".ui.ReportDetailsActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.ApprovalActivity" />
        
        <activity 
            android:name=".ui.MyReportActivity"
            android:label="My Reports"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ReportPreviewActivity"
            android:label="Report Preview"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
